* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #fbfaef;
  --primary-tint: #fffef5;
  --secondary-color: #8ecae6;
  --tertiary-color: #023047;
}
