/* DASHBOARD CONTAINER */
.Dashboard {
  padding: 3rem 5rem;
}

.Dashboard .welcome-message h2 {
  font-size: 2rem;
}

.Dashboard .welcome-message p {
  margin: 1rem 0;
  line-height: 1.2rem;
}

/* GROUP EXPECTATIONS */

/* expectations link */
.Dashboard .expectations-link {
  text-decoration: underline;
}

.Dashboard .expectations-link:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
  text-decoration: none;
}
