/* DASHBOARD CONTAINER */

/* GROUP EXPECTATIONS */
.Dashboard .welcome-message h2 {
  font-size: 2rem;
}

.Dashboard .welcome-message p {
  line-height: 1.2rem;
  margin: 1rem 0;
}

/* expectations link */
.Dashboard .expectations-link {
  text-decoration: underline;
}

.Dashboard .expectations-link:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
  text-decoration: none;
}

/* YOUR GROUPS */
.Dashboard .your-groups h2 {
  margin: 3rem 0;
  font-size: 2rem;
}
