/* TOP HEADER */
.Display header {
  background-image: url(./img/writing-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1rem solid var(--tertiary-color);
}

.Display .banner {
  padding: 20px;
  text-align: center;
}
.Display .banner-title {
  background-color: rgba(224, 224, 224, 0.7);
  border-radius: var(--box-radius);
  color: var(--tertiary-color);
  font-family: 'Great Vibes', cursive;
  font-size: 72px;
  font-weight: 800;
  padding: 20px;
  text-align: center;
}

/* MAIN PAGE */
.Display main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.Display .route-display {
  background-color: var(--primary-color);
  min-height: 100vh;
}

/* NAVBAR */
.Display .display-navbar {
  background-color: var(--primary-tint);
  border-right: 0.15rem solid var(--tertiary-color);
  min-height: 100vh;
}

/* FOOTER */
.Display footer {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-size: 0.65rem;
  padding: 1.5rem 1rem 0.5rem 1rem;
  text-align: right;
}

.Display footer a {
  color: var(--primary-color);
}

.Display footer a:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}
