.Navbar {
  border: 2px solid rgba(2, 48, 71, 44%);
}

/*ROUTES*/
.Navbar .nav-routes,
.buttons {
  display: flex;
  flex-direction: column;
}

.Navbar .nav-routes li {
  background-color: var(--primary-tint);
  border-bottom: 2px solid var(--primary-color);
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
  text-align: left;
}

.Navbar .nav-routes li:hover,
a:hover {
  background-color: var(--tertiary-color);
  border-bottom: 2px solid var(--tertiary-color);
  color: var(--primary-color);
}
