/* ROUTES */
.Navbar .nav-routes,
.buttons {
  display: flex;
  flex-direction: column;
}

.Navbar .nav-routes li {
  background-color: var(--primary-tint);
  border-bottom: 2px solid var(--primary-color);
  box-shadow: 0 -0.5px 6px rgba(0, 0, 0, 0.4);
  list-style: none;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  text-align: left;
}

.Navbar .nav-routes li:hover,
a:hover {
  background-color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  color: var(--primary-color);
}

/* LOGOUT */
.Navbar .center-button {
  text-align: center;
}

.Navbar .logout-button {
  margin-top: 2rem;
  padding: 0.5rem 3rem;
}
