/* NEW TOPIC FORM */
.NewGroupForm .form-container {
  border-width: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  margin: 0rem 5rem;
  padding: 1rem 2rem;
}

.NewGroupForm .form-inner-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5%;
}

/* return-button */
.NewGroupForm .return-button {
  text-align: right;
}

.NewGroupForm .return-button button {
  bottom: 0.5rem;
  position: relative;
  padding: 0.1rem 0.3rem;
  left: 1.5rem;
}

/* image */
.NewGroupForm .image-container {
  text-align: center;
}

.NewGroupForm img {
  border: 0.5rem solid var(--tertiary-color);
  border-radius: var(--box-radius);
  max-width: 16rem;
}

/* inputs */
.NewGroupForm .new-group-form input,
textarea {
  border: none;
  border-radius: 5px;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  margin: 0.2rem 0;
  padding: 0.3rem;
  width: 100%;
}

/* input labels */
.NewGroupForm .main-label {
  color: var(--tertiary-color);
  font-weight: bold;
  padding: 0.25rem 0;
  text-align: left;
}

/* group description label with input */
.NewGroupForm .body {
  padding: 0.5rem 0;
}

/* submit button */
.NewGroupForm .submit-button {
  text-align: center;
}

.NewGroupForm .submit-button button {
  border-radius: var(--button-radius);
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}
