.TopicsList {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.TopicsList .new-topic-form {
  border-width: 0.5rem;
  margin: 1rem;
  max-width: fit-content;
  padding: 1rem;
  text-align: left;
}

.TopicsList .main-label {
  font-weight: bold;
}

.TopicsList .support-label {
  color: var(--font-tint);
  font-size: 0.75rem;
  font-style: italic;
}
