/* CONTAINER FOR EACH TOPIC POST */
.TopicDetails {
  border: 2px solid var(--primary-tint);
  margin: 1rem 5rem;
  border-bottom: 2px solid var(--tertiary-color);
}

.TopicDetails:hover {
  border: 2px solid var(--tertiary-color);
  transition: var(--transitions);
}

.TopicDetails .topic-container {
  padding: 0.25rem 0.75rem;
}

/* HEADER INCLUDES TITLE AND BUTTONS */
.TopicDetails .header {
  display: flex;
  justify-content: space-between;
}

.TopicDetails .title {
  color: var(--tertiary-color);
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 0.2rem;
}

.TopicDetails button {
  margin: 0.2rem;
  padding: 0.25rem 1rem;
}

/* BODY OF TOPIC POST */
.TopicDetails .body {
  color: var(--font-tint);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3rem 0 0.75rem 0;
  text-align: left;
}

/* FOOTER INCLUDES COMMENTS AND POST CREATOR */
.TopicDetails .footer {
  font-size: 0.75rem;
  font-weight: 400;
  text-align: left;
}

.TopicDetails .comment {
  color: var(--tertiary-color);
}

.TopicDetails .creator {
  color: var(--font-tint);
  padding-left: 0.5rem;
}
