.TopicsList {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.TopicsList .new-topic-form {
  background-color: var(--primary-tint);
  border: 0.5rem solid var(--secondary-color);
  border-radius: var(--box-radius);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
  margin: 1rem;
  max-width: fit-content;
  padding: 1rem;
  text-align: left;
}

.TopicsList .main-label {
  font-weight: bold;
}

.TopicsList .support-label {
  color: var(--font-shade);
  font-size: 0.75rem;
  font-style: italic;
}
